/*one post*/
/*************************/
.emty{
	width:100%;
	background: #FFFFFF;
	overflow:hidden;
	margin-bottom: 20px;
}
.emty img{
	max-width:100%;
	height:auto;
}
.emty h3{
	margin: 10px 0;
}
.emty__content{
	width:100%;
	padding: 10px;
}
.emty__h2{
	text-transform: uppercase;
	display: inline-block;
	margin: 0 30px 0 0;
	vertical-align: middle;
}
.emty__local, .emty__comment{
	margin-right: 20px;
	vertical-align: middle;

}
.emty__h2, .emty__local{
	color:#AB2C1B;
}
.emty__local{
	font-size:.8em;
}
/*************************/
.emty, .expert, .map, .facebook, .news, .emty_prev__li img{
	box-shadow: 0 0 5px 0 #ccc;
}
/*************************/

i{
	display: inline-block;
	width:18px;
	height: 20px;
	position: relative;
	top:5px;
	margin-right: 5px;
	background: url(img/icons-s8c356d3a85.png) no-repeat;
}

.emty__local i{
	background-position: 4px -281px;
}

.emty__comment i{
	background-position: 1px -431px;
}

.emty__date i{
	background-position: 1px -384px;
}

.emty__comment, .emty__date{
	vertical-align: middle;
	text-decoration: none;
	font-size:.9em;
}
.green .emty__h2, .green .emty__local{
	color:#7AB738;
}
.green .emty__local i{
	background-position: 4px -332px;
}
.emty_big .emty__h3{
	font-size: 1.7em;
}

/***************************/
.map{
	padding: 10px;
	background: #FFFFFF;
	margin-bottom: 20px;
}
.map__img{
	width:100%;
	height: 100%;
	margin-bottom: 40px;
}
.map__img img{
	max-width:100%;
	height: auto;
}

.map__h3{
	text-align:center;
	color:#3885af;
	margin-bottom: 10px;
}
.map__nav{
	text-align: center;
	font-size:.8em;
	margin-bottom: 20px;
}
.map__nav li{
	display: inline-block;
}
.map__nav a{
	padding: 5px;
}
/***************************/
.expert{
	height:100px;
	background: #FFFFFF;
	margin-bottom: 20px;
}
.expert::after{
	content:'';
	display: table;
	clear: both;
}

.expert__img{
	width:95px;
	height: 100%;
	float: left;
	overflow: hidden;;
}
.expert__img img{
	max-width:100%;
	height: 100%;
	width:auto\9; /*for IE 8*/
}

.expert__content{
	margin-left: 95px;
	padding: 5px;
}
.expert__content__h3{
	font-size:1.1em;
}
.expert__content__p{
	margin: 4px 0px 0px;
	text-transform: uppercase;
	font-weight: bold;
}
/***************************/
.facebook{
	height: 300px;
	background: #4A6AB7;
}
.facebook h2{
	text-align:center;
	line-height:300px;
	color:#fff;
	text-shadow: 0 2px 1px #717776;
}
/***************************/
.news{
	background: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
}
.news__h2{
	margin: 0 0 10px 0;
	padding: 0;
	font-size:1.5em;
}

.news__post li{
	margin-bottom: 20px;
	font-weight: bold;
}

.news__post__date{
	display: block;
	font-size:.9em;
	color:#959595;
}
/***************************/
.emty_prev{
	margin-bottom: 20px;
}
.emty_prev::after{
	content:'';
	display: table;
	clear: both;
}

.emty_prev__li{
	margin-top: -20px;
	padding: 10px;
	width:25%;
	overflow:hidden;
	height: auto;
	float:left;
}
.emty_prev__li:first-child{
	background: #FFFFFF;
	box-shadow: 0 3px 5px 0 #D8D8D8;
}

.emty_prev__li img:first-child{
	box-shadow:none;
}
.emty_prev__li img{
	max-width:100%;
	border:5px solid #FFFFFF;
	height: auto;
}