@import url(modal.css);
/************************/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, p{
	margin: 0;
	padding: 0;
}
.header{
	height:60px;
	background: #ACF192;
}

.l-center{
	width:940px;
	background: #E0E0E0;
	margin:0 auto;
	border: 3px solid #FD9B9B;
	height: 100%;
}
/**/
.header::after, .l::after, .l-col-1::after, .footer::after{
	content:'';
	display: table;
	clear: both;
}
/*************************/

.l{
	background: #E9E8E2;
}
.footer{
	height: 200px;
	background: #FDB5F0;
}

.l-col-1{
	float: left;
	width:65.6666%;
	/*background: #FBFBB3;*/
	height: 100%;
	/*padding: 10px;*/
}

.l-col-2{
	float:right;
	width:32.3333%;
	/*background: #C2E2EB;*/
	/*padding: 10px;	*/
}
.l-col-11{
	float:left;
	width:49%;
	/*background: #D0C6C1;*/
	/*padding: 10px;*/
}

.l-col-12{
	float:right;
	width:49%;
	/*background: #9B583C;*/
	/*padding: 10px;*/
}

/*****************************/
.loadmore{
	padding:50px 0;
	text-align:center;
	font-size:1.8em;
	background: #E9E8E2;
}
/*****************************/