@import url(modal.css);
/************************/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background: url(img/bg.jpg);
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, p{
	margin: 0;
	padding: 0;
}

a{
	color:#4E56F8;
}

.l-center{
	width:940px;
	/*background: #E0E0E0;*/
	margin:0 auto;
	/*border: 3px solid #FD9B9B;*/
	height: 100%;
}
/**/
.header::after, .header__wrap::after, .l::after, .l-col-1::after, .footer::after{
	content:'';
	display: table;
	clear: both;
}
/*************************/
.top_line{
	background: #114b68;
	height: 40px;
}

.header{
	/*height: 100px;*/
	background: #468EB8;
}
.header__logo{
	float: left;
	padding: 40px 0;
}
.header__wrap{
	float:right;
	padding: 40px 0;
	background: #C5CAFC;
}
.header__input{
	/*vertical-align: middle;*/
	font-size:1.8em;
	background: transparent;
	border:1px solid #FFFFFF;
	color:#b4d6e8;
	padding-left: 10px;
	margin: 8px 0;
	float: left;
}
.header__input::-webkit-input-placeholder {color:#b4d6e8;}
.header__input::-moz-placeholder          {color:#b4d6e8;}/* Firefox 19+ */
.header__input:-moz-placeholder           {color:#b4d6e8;}/* Firefox 18- */
.header__input:-ms-input-placeholder      {color:#b4d6e8;}

.header__social{
	/*width:100px;*/
	background: #C9C9C9;
	float: right;
	margin-top: 10px;
}
.header__social li{
	display: inline-block;
	margin-left: 10px;
}
.header__social__link{
	display: block;
	width:30px;
	height: 30px;
	background: #8AF145 url(img/icons-s8c356d3a85.png) no-repeat;
}
.vk{
	background-position: 5px -402px;
}
.fb{
	background-position: 10px -531px;
}
.ok{
	background-position: 7px -214px;
}
.in{
	background-position: 6px -502px;
}
/*************************/
.nav{
	padding: 30px 0;
}

.nav__menu{
	text-align: center;
	font-size:1.6em;
}
.nav__menu li{
	display: inline-block;
}
.nav__menu a{
	text-decoration: none;
	display: block;
	padding: 5px 10px 3px;
	text-transform: uppercase;
	color:#4A4A4A;
}
.nav__menu a:hover{
	box-shadow: 0 4px 0px 0px #747474;
	-webkit-transit#ACEEC4ion: all .5s;
	-o-transition: all.5s;
	transition:all .5s;
}
/*************************/

.l{
	/*background: #E9E8E2;*/
}
.footer{
	/*background: #FDB5F0;*/
	margin-bottom: 30px;
}
.footer p{
	text-align: center;
	font-size: .8em;
	margin: 5px 0;
}
.footer_nav{
	border-top:1px solid #4A4A4A;
	padding: 10px 0 20px;
}

.l-col-1{
	float: left;
	width:65.6666%;
	/*background: #FBFBB3;*/
	height: 100%;
	/*padding: 10px;*/
}

.l-col-2{
	float:right;
	width:32.3333%;
	/*background: #C2E2EB;*/
	/*padding: 10px;	*/
}
.l-col-11{
	float:left;
	width:49%;
	/*background: #D0C6C1;*/
	/*padding: 10px;*/
}

.l-col-12{
	float:right;
	width:49%;
	/*background: #9B583C;*/
	/*padding: 10px;*/
}

/*****************************/
.loadmore{
	padding:60px 0;
	text-align:center;
	font-size:1.8em;
	/*background: #E9E8E2;*/
}
/*****************************/